

.page_gallery{
  background-color: rgb(255,237,174);
  
  
}

.gallery1{
  height: 100%;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url('IMAGE/gallry-page-elements/THUMBNAIL/final icon 2024-02.jpg');
}
.gallery2{
  height: 100%;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url('IMAGE/gallry-page-elements/THUMBNAIL/FINAL FINAL LOGO TAU.png');
}
.gallery3{
  height: 100%;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url('IMAGE/gallry-page-elements/THUMBNAIL/DOVE MUA XUAN.png');
}
.gallery4{
  height: 100%;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url('IMAGE/gallry-page-elements/THUMBNAIL/BEWELLI.png');
}
.gallery5{
  height: 100%;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url('IMAGE/gallry-page-elements/THUMBNAIL/noi\ cung\ anh.png');
}
.gallery6{
  height: 100%;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url('IMAGE/gallry-page-elements/THUMBNAIL/DONUT-01.png');
}
.gallery7{
  height: 100%;
  width: 100%;
  
}