.landing {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  position: relative;
}

.landing-1 {
  background-image: url(IMAGE/background/landing1.png);
}

.landing-2 {
  background-image: url(IMAGE/background/landing2.png);
}

.landing-3 {
  background-image: url(IMAGE/background/landing3.png);
}


.lodo{
  position: absolute;
  width:5%;
  opacity:56%;
  left: 10%;
  top:5%;
}

.lotim{
  position: absolute;
  width:6%;
  opacity:56%;
  left: 8%;
  top:40%;
}

.lovang{
  position: absolute;
  width:3.5%;
  opacity:56%;
  left: 16%;
  top:27%;
}

.loxanh{
  position: absolute;
  width:4%;
  opacity:56%;
  left: 23%;
  top:10%;
}

.loduong{
  position: absolute;
  width:4%;
  opacity:56%;
  left: 35%;
  top:15%;
}

.lovang1{
  position: absolute;
  width:4%;
  opacity:56%;
  left: 50%;
  top:6%;
}

.loxanh1{
  position: absolute;
  width:4%;
  opacity:56%;
  left: 56%;
  top:20%;
}


.lodo1{
  position: absolute;
  width:4%;
  opacity:56%;
  left: 50%;
  top:35%;
}

.loduong1{
  position: absolute;
  width:2.5%;
  opacity:56%;
  left: 65%;
  top:10%;
}

.lotim1{
  position: absolute;
  width:4%;
  opacity:56%;
  left: 73%;
  top:20%;
}

.lodo2{
  position: absolute;
  width:4%;
  opacity:56%;
  left: 85%;
  top:8%;
}

.lovang2{
  position: absolute;
  width:2.5%;
  opacity:56%;
  left: 90%;
  top:20%;
}

.next-button{
  position: absolute;
  width:5%;
  right:7%;
  top:62%;
  cursor: pointer;
}
.next-button:hover{
opacity: 50%;
}


.article{
  position: absolute;
  top: 30%;
  left: 23%;
  width: 65%;
  text-align: justify;
  color: rgb(17,26,65);
  font-family: bietshaohokfont;
  font-size: 2rem;
}
.article_logo{
  position: absolute;
  top: 20%;
  left: 8%;
  width: 10%;
  
}

.content-2 {
  font-size: 2.875rem;
}

.menu_b{
  position: absolute;
  bottom: 5%;
  left: 8%;
  width: 30%;
  height:18%;
}
.logo_b{
  position: absolute;
  bottom: 7.6875rem;
  right: 12rem;
}
.logo_b img{
  margin: auto 3%;
  width: 5.75rem;
}
.article_b{
  position: absolute;
  top: 72%;
  left: 8%;
  width: 85%;  
  height: 20%; 
}
.article_b img{
  display: inline;
  margin: 0 3%;
  height: 100%;
}