/* reset css */
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
dl,
dt,
dd,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.container{
  height: 100vh;
  width: 1440px;
  
  box-sizing: border-box;
  margin: 0 auto;
}

@font-face {
  font-family: bietshaohokfont;
  src: url(Fonts/OTF/Pally-Medium.otf);
}

@font-face {
  font-family: navbarfont;
  src: url(Fonts/Fonts1/fontnavbar/BespokeStencil-Extrabold.otf);
}

@font-face {
  font-family: Pally;
  src: url(Fonts/WEB/fonts/Pally-Regular.ttf);
}
.menu_mobile{
  display: none;
}
.navigation-container {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 78px;
  background-color: rgb(243, 117, 123);
  border: 4px solid black;
  max-height: 116px;
  width: 100%;
  max-width: 1440px;
  position: fixed;
  z-index: 1;
}

#content {
  padding-top: 116px;
}

img.navigation-img {
  height: 135px;
  flex-shrink: 0;
  background: cover no-repeat;
}

.menu-item {
  font-family: navbarfont;
  font-size: 2.4375rem;
  color: rgb(17, 26, 65);
  text-decoration: none;
  padding: 20px 15px;
  transition: color 0.3s, text-decoration 0.3s;
  cursor: pointer;
  text-align: center;
}

.menu-item:hover {
  color: rgb(255, 237, 174);
  text-decoration: underline;
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
  flex-shrink: 0;
  z-index: 2;
  font-size: 20px;
    color: rgb(17,26,65);
    padding: 10px 15px;
    border: none;
}

.mobile-menu-icon span {
  height: 4px;
  width: 30px;
  background-color: rgb(17, 26, 65);
  margin: 6px 0;
  display: block;
}
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(243,117,123);
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: navbarfont;
  color: rgb(17,26,65);
  display: block;
  transition: 0.3s;
  cursor: pointer;;
}

.sidebar a:hover {
  color: rgb(255,237,174);
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: rgb(17,26,65);
  padding: 10px 15px;
  border: none;
  text-decoration: none;
}

.openbtn:hover {
  color:rgb(255,237,174);
}


.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.absolute {
  position: absolute;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.justify-content {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-rows-3{
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.grid-flow-col{
  grid-auto-flow: column;
}

.row-span-2{
  grid-row: span 2 / span 2;
}

.row-span-3{
  grid-row: span 3 / span 3;
}

.col-span-2{
  	grid-column: span 2 / span 2;
}

.col-span-3{
  	grid-column: span 3 / span 3;
}

.border {
  border-width: 1px;
}

.border-2{
  border: 2px solid black;
}

.border-4{
  border: 4px solid black;
}

.border-t-4{
  border-top: 4px solid black;
}

.border-r-4{
  border-right: 4px solid black;
}

.border-b-4{
  border-bottom: 4px solid black;
}

.w-full{
  width: 100%;
}

.w-80\/100 {
 width: 80%;
}

.w-70\/100 {
  width: 70%;
 }

 .w-60\/100 {
  width: 60%;
 }

 .w-50\/100 {
  width: 50%;
 }

 .w-40\/100 {
  width: 40%;
 }

 .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
 }

.mt-16 {
  margin-top: 4rem;
}

.pl-18 {
  padding-left: 4.5rem;
}



.hok-word{
  width:13%;
  position:absolute;
  top:30%;
  left:3%;
  opacity: 36%;

}

.biet-word{
  width:18%;
  position:absolute;
  top:20%;
  left:20%;
  opacity: 36%;

}

.shao-word{
  width:18%;
  position:absolute;
  top:40%;
  left:33%;
  opacity: 36%;

}

.shao1-word{
  width:18%;
  position:absolute;
  bottom:-5%;
  left:5%;
  opacity: 36%;

}

.hok1-word{
  width:13%;
  position:absolute;
  bottom:-15%;
  left:20%;
  opacity: 36%;

}

.biet1-word{
  width:18%;
  position:absolute;
  bottom:-13%;
  left:34%;
  opacity: 36%;
}


.article{
  position: absolute;
  top: 30%;
  left: 23%;
  width: 65%;
  text-align: justify;
  color: rgb(17,26,65);
  font-family: bietshaohokfont;
  font-size: 2rem;
}

.text-content{
  font-size: 2.857rem;
  color: rgb(17,26,65);
  font-family: bietshaohokfont;
}