@media only screen and (max-width: 1440px) {
    nav ul{
        font-size: 2rem;
        height: 117px;
    }
    div.article, .menu-item{
        font-size: 2rem;
    }
    img.navigation-img{
        height: 117px;
        object-fit: contain;
    }
    .menu_b ul{
        font-size: 1.5rem;
    }
    .container {
        width: 100%;
    }

    #content {
        padding-top: 100px;
    }
    div.menu-item-bottom{
        padding: 10px 5px;
    }

    p.text-content{
        font-size: 2.5rem;
    }

    p.contact-big-text{
        font-size: 6rem;
    }
  }

@media only screen and (max-width: 1200px) {
    nav ul{
        font-size: 2rem;
        height: 117px;
    }
    div.article, .menu-item, p.text-content{
        font-size: 2rem;
    }
    img.navigation-img{
        height: 117px;
        object-fit: contain;
    }
    .menu_b ul{
        font-size: 1.5rem;
    }
    .container {
        width: 100%;
    }

    #content {
        padding-top: 100px;
    }
    div.menu-item-bottom{
        padding: 10px 5px;
    }
    p.contact-big-text{
        font-size: 4rem;
    }
  }
@media only screen and (max-width: 992px) {
    nav ul{
        font-size: 1.4rem;
        padding:  0 20px !important;
        height: 100px;
    }
    div.article, .menu-item{
        font-size: 1.4rem;
    }
    img.navigation-img{
        height: 100px;
        object-fit: contain;
    }
    .menu_b ul{
        font-size: 1.4rem;
    }

    #content {
        padding-top: 80px;
    }

    div.menu-item-bottom{
        padding: 8px 5px;
    }

    p.text-content{
        font-size: 1.6rem;
    }
    p.contact-big-text{
        font-size: 3rem;
    }
  }
@media only screen and (max-width: 768px) {
    nav ul{
        font-size: 0.8rem;
        padding:  0 10px !important;
        height: 80px;
    }
    div.article, .menu-item{
        font-size: 1rem;
    }
    img.navigation-img{
        height: 80px;
        object-fit: contain;
    }
    .menu_b ul{
        font-size: 0.8rem;
    }
    .menu_mobile {
        display: block;
        text-align: left;
        margin-left:10px;
    }
    .menu-item{
        display: none;
    }

    #content {
        padding-top: 60px;
    }

    div.menu-item-bottom{
        padding: 5px;
        font-size: 0.5rem;
    }
    p.text-content{
        font-size: 1.2rem;
    }
    
    .\tablet\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .\tablet\:grid-row-none {
        grid-template-rows: none;
    }

    .\table\:col-auto{
        grid-column: auto;
    }

    .\table\:row-auto{
        grid-row: auto;
    }

    p.contact-big-text{
        font-size: 2rem;
    }
  }
@media only screen and (max-width: 576px) {
    nav ul{
        font-size: 0.5rem;
        padding:  0 0 !important;
        height: 60px;
    }
    div.article, .menu-item, p.text-content{
        font-size: 0.8rem;
    }
    img.navigation-img{
        height: 60px;
        object-fit: contain;
    }
    .menu_b ul{
        font-size: 0.3rem;
    }
    .menu_mobile {
        display: block;
        text-align: left;
        margin-left:10px;
    }
    .menu-item{
        display: none;
    }

    div.menu-item-bottom{
        padding: 5px;
        font-size: 0.5rem;
    }

    p.contact-big-text{
        font-size: 1.2rem;
    }
  }

