
@media only screen and (max-width: 1200px) {
    nav ul{
        font-size: 2rem;
        height: 117px;
    }
    .article{
        font-size: 2rem;
    }
    nav ul li img{
        height: 117px;
        object-fit: contain;
    }
    .menu_b ul{
        font-size: 1.5rem;
    }
  }
@media only screen and (max-width: 992px) {
    nav ul{
        font-size: 1.4rem;
        padding:  0 20px !important;
        height: 100px;
    }
    .article{
        font-size: 1.4rem;
    }
    nav ul li img{
        height: 100px;
        object-fit: contain;
    }
    .menu_b ul{
        font-size: 1.4rem;
    }
  }
@media only screen and (max-width: 768px) {
    nav ul{
        font-size: 0.8rem;
        padding:  0 10px !important;
        height: 80px;
    }
    .article{
        font-size: 1rem;
    }
    nav ul li img{
        height: 80px;
        object-fit: contain;
    }
    .menu_b ul{
        font-size: 0.8rem;
    }
    .menu_mobile {
        display: block;
        text-align: left;
        margin-left:10px;
    }
    .menu-item{
        display: none;
    }
  }
@media only screen and (max-width: 576px) {
    nav ul{
        font-size: 0.5rem;
        padding:  0 0 !important;
        height: 60px;
    }
    .article{
        font-size: 0.8rem;
    }
    nav ul li img{
        height: 60px;
        object-fit: contain;
    }
    .menu_b ul{
        font-size: 0.3rem;
    }
    .menu_mobile {
        display: block;
        text-align: left;
        margin-left:10px;
    }
    .menu-item{
        display: none;
    }
  }

